{% extends 'pawpals/base.html' %}

{% block title_block %}
    FAQ and About
{% endblock %}
{% block body_block %}
<!-- Basic Grid Layout with a manifesto as the 'about' section -->
  <div class="container">

    <div class="row">
      <div class="col-md-7">
        <h4 class="featurette-heading">About Us
        </h4>
        <p class="lead">"Dogs have a way of finding the people who need them,
            and filling an emptiness we didn't ever know we had." - Thom Jones <br/><br/>
            Even as students hailing from four completely separate corners of the globe, we understand the important
            role that the domesticated animal can play in a persons life. So much so that we
            decided to create an app that would aid pet-seekers in their quest for their purrfect companion, working to
            pair owners with their dream pet whilst offering those in need (both human and otherwise) much needed
            affection and time for bonding in a safe, comfortable environment.<br/><br/>
        Sara Jakubiak<br/>
        Serhat Degirmenci<br/>
        Bita Fardoo<br/>
        Ibai Castells</p>

      </div>
    </div>
<div>
    <!-- divider used to signify the FAQ section is next, basic collapse buttons used to display question answers only
    when needed -->
    <hr class="featurette-divider">
<h1 class="featurette-heading">Frequently Asked Questions
        </h1>
        <button class="btn btn-outline-info" data-toggle="collapse" data-target="#q1">What Is PawPals?</button>
    <div id="q1" class="collapse">
    <div class="row">
    <div class="col-md-7">
        <p class="lead">At PawPals we work to match those who want a dog but don't have the time or money to take
            care of one.
        We work alongside dog shelters so that dogs who need love and attention can go on walks and spend quality
            time with amazing people like you!
          So what are you waiting for, find yourself a PawPal and go make some memories! </p>

      </div>
    </div>
    </div>
            <button class="btn btn-outline-info" data-toggle="collapse" data-target="#q2">How Can I Register?</button>
    <div id="q2" class="collapse">
    <div class="row">
    <div class="col-md-7">
        <p class="lead">If you look to the top right you will be able to click on the 'Sign Up' button (it's
            highlighted
        in blue!), just fill out the form and click the Register button and you're all set!</p>

      </div>
    </div>
    </div>
            <button class="btn btn-outline-info" data-toggle="collapse" data-target="#q3">Can I Delete My Account?</button>
    <div id="q3" class="collapse">
    <div class="row">
    <div class="col-md-7">
        <p class="lead">"If you feel your time at PawPals is at an end you are very welcome to delete your account
        (though we will be sad to see you leave!). If you navigate to the edit profile page (by clicking on the
            'Edit Profile' button at the top right of any page)
        you have the option to delete your account.
        Friendly warning for Shelter Managers: deleting the account of your shelter will subsequently remove all
            PawPals from your shelter from our databases!"</p>

      </div>
    </div>
    </div>
            <button class="btn btn-outline-info" data-toggle="collapse" data-target="#q4">How Can I Request A Dog?</button>
    <div id="q4" class="collapse">
    <div class="row">
    <div class="col-md-7">
        <p class="lead">If you find yourself a PawPal you want to walk; either by the 'Dog's That Need Love'
            section on the homepage
        or through either the Dog Search or Shelter pages, you can click the 'Request a Walk' button below the
            PawPal's image. Just leave a message for the shelter
        outlining your request and submit! The shelter will get back in touch with you about the walk at their
            earliest convinience! </p>
      </div>
    </div>
    </div>
                <button class="btn btn-outline-info" data-toggle="collapse" data-target="#q5">How Can I View/Manage My Requests?</button>
    <div id="q5" class="collapse">
    <div class="row">
    <div class="col-md-7">
        <p class="lead">To View/Manage your requests you first need to navigate to the 'Manage Requests' page,
            which you'll see
        at the top right of any page when you are logged in. For standard users you will be able to view the
            status of every request you've made and easily be able to leave
        a review if you've completed a walk with a certain PawPal from this page. For shelter manager users you
            will be able to view requests made for PawPals your shelter
        houses, and review them as you please - accepting or denying requests based on your availability.</p>
      </div>
    </div>
    </div>
</div>
  </div>
{% endblock %}