<!DOCTYPE html>
{% load staticfiles %}

<html>
    <head lang="en">
        <meta charset="UTF-8">
        <!-- allows for responsive scaling -->
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- Bootstrap CDN integration -->
       <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

{% block javascript_block %}
{% endblock %}

{% block stylesheet_block %}
        <link rel="stylesheet" type="text/css" href="{% static "styles/base_style.css" %}">
{% endblock %}
<!-- Standard navbar that will be used across all templates -->
<nav class="navbar navbar-expand-lg fixed-top bg-dark">
  <a class="navbar-brand text-white" href="{% url 'home' %}"><img src="{% static "/brand.png" %}" width="30"
      height="30">PawPals</a>

<div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link text-white" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="{% url 'dogs' %}">Dog Search</a>
      </li>
     <li class="nav-item">
        <a class="nav-link text-white" href="{% url 'shelters' %}">Shelters</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="{% url 'about' %}">About & FAQ</a>
      </li>
    </ul>

	  <form>
      <ul class="navbar-nav ml-auto">
          <!-- checking whether a user is logged in and showing them certain buttons depending on that -->
          {% if user.is_authenticated %}
          <a class="btn btn-outline-danger text-white" href="{% url 'logout' %}" role="button">Sign Out</a>
          <a class="btn btn-outline-primary text-white" href="{% url 'edit' %}" role="button">Edit Profile</a>
          <a class="btn btn-outline-info text-white" href="{% url 'requests' %}" role="button">Manage Requests</a>
          {% else %}
    <a class="btn btn-outline-success text-white" href="{% url 'login' %}" role="button">Sign In</a>
    <a class="btn btn-outline-info text-white" href="{% url 'register' %}" role="button">Sign Up</a>
          {% endif %}
      </ul>
		  </form>
    </div>
</nav>
    </head>

        <title>
          {% block title_block %}
          {% endblock %}
        </title>

    <body>
        <div>
            {% block body_block %}
            {% endblock %}
        </div>
        <!-- Using a second navbar in the footer to provide a 'back to top' functionality given that we have some
                big templates -->
<footer>
  <nav class="navbar navbar-default  navbar-sticky-bottom bg-dark" role="navigation">
    <div class="container text-center">
        <ul class="navbar-nav mr-auto text-white">
            PawPals
        </ul>
           <ul class="navbar-nav ml-auto">
        <a class="nav-link text-white" href="#Top">Back To The Top</a>
           </ul>
    </div>
</nav>
</footer>
    </body>
</html>