{% extends 'pawpals/base.html' %}
{% load staticfiles %}

{% block javascript_block %}
	<script type="text/javascript" src="{% static 'js/pawpals-ajax.js' %}"></script>
{% endblock %}

{% block stylesheet_block %}
	<link rel="stylesheet" type="text/css" href="{% static "styles/dog.css" %}">
{% endblock %}

{% block title_block %}
	{{ dog.name }}
{% endblock %}



{% block body_block %}
    <!-- displays the profile picture in the database for the dog, if there isn't one, provides a default image -->
          {% if dog.profile_picture %}
        <img class="rectangle" src="{{ MEDIA_URL }}{{ dog.profile_picture }}" width="400" height="400">
          			{% else %}
          <img class="rectangle center-cropped" src="{% static "default_dog.png" %}" width="400" height="400">
			{% endif %}
<div>
        <h3> {{dog.name}}</h3>
    <!-- allows a standard user that is logged in to request a walk -->
		  {% if user.is_authenticated %}
            {% if user.is_standard %}

				<a id = "request_button" class="btn btn-success" href="{% url 'request' dog.slug %}"
                   role="button">Request a Walk</a>
</div>

			{% endif %}
          {% endif %}

<!-- Displays the information of the dog in a nice pattern -->

    <div class="row" >

    <div class="col-sm-2">

        <h4>Bio</h4>
		<article>{{ dog.bio }}</article>

     </div>
    <div class="col-sm-2">

        <h4>Breed</h4>
		<p>{{ dog.breed }}</p>

      </div>
    </div>
<div class="row">
    <div class="col-sm-3">

        <h4>Size</h4>
		<p>{{ dog.get_size_display }}</p>

      </div>

    <div class="col-sm-3">

        <h4>Gender</h4>
		<p>{{ dog.get_gender_display }}</p>

      </div>

    <div class="col-sm-3">

        <h4>Puppy?</h4>
		<p>{% if dog.is_puppy %}
						Yes
					{% else %}
						No
{% endif %}</p>
    </div>
</div>
<div class="row">
        <div class="col-sm-2">

        <h4>Child Friendly?</h4>
			<p>{% if dog.is_childfriendly %}
						Yes
					{% else %}
						No
{% endif %}</p>

      </div>
        <div class="col-sm-2">

        <h4>Overall Difficulty</h4>
			<p>{{ dog.difficulty }}/5</p>

      </div>

</div>

<!-- Using AJAX, this button displays the reviews left on this specific dog -->

{% if user.is_authenticated %}
			{% if user.is_manager %}
					{% if dog.dog_shelter == shelter.name %}

			<button class="btn btn-outline-danger" href="{% url 'remove_dog' %}" >Delete Dog</button>

{% endif %}
			{% endif %}
					{% endif %}


<button class="btn btn-outline-info" onclick="get_reviews('{% url 'show_reviews'%}', '{{ dog.slug }}')" data-toggle="collapse"  data-target="#reviewsButton">See Reviews&raquo;</button>

          <div id = "reviewsButton" class="collapse">

              <div>


              <div id="review_block"></div>

          </div>
          </div>
{% endblock %}
