{% extends 'pawpals/base.html' %}

{% block title_block %}
    Find a suitable dog!
{% endblock %}

{% block body_block %}
<div class="fluid-container">
        <br/>
<h1 id="shelters_title">Find your perfect PawPal!</h1>
    <hr class="featurette-divider">

	<div>
		<form method="get">
			{{ filter.form.as_table }}
			<br/>
			<button class="search_button" type="submit">Search</button>
		</form>
	</div>

    <div class="row">
            <!-- LOOP THIS SECTION WRAPPED IN COMMENTS WITH THE DOG INFO INSERTED INSTEAD OF THE JUNK TEXT -->
        {% for dog in filter.qs %}
      <div class="col-lg-3">
        <img class="rectangle center-cropped" src="{{ MEDIA_URL }}{{ dog.profile_picture }}" alt="Generic placeholder image"
          width="200" height="200">
        <h3>{{ dog.name }}</h3>
          <a class="btn btn-secondary" href="{% url 'show_dog' dog.slug %}" role="button">View dog &raquo;</a>
        </p>

      </div>
        {% endfor %}
  </div>

</div>
{% endblock %}