{% extends 'pawpals/base.html' %}
{% load staticfiles %} 


{% block title_block %}
    Find a suitable dog!
{% endblock %}

{% block body_block %}
<div class="fluid-container">
        <br/>
<h1 id="shelters_title">Find your perfect PawPal!</h1>
    <hr class="featurette-divider">
    <button class="btn btn-default" data-toggle="collapse" data-target="#search">Search For A Specific PawPal</button>
	<div id="search" class="collapse">
<br/>
		<form method="get">
            <div id="dogsearch" class="container">
			{{ filter.form.as_table }}
			<br/>
			<button class="btn btn-default" type="submit">Search</button>
            </div>
		</form>
	</div>

    <div class="row">
            <!-- LOOP THIS SECTION WRAPPED IN COMMENTS WITH THE DOG INFO INSERTED INSTEAD OF THE JUNK TEXT -->
        {% for dog in filter.qs %}
      <div class="col-lg-3">
      
      					{% if dog.profile_picture %}
							<img class="rectangle center-cropped" src="{{ MEDIA_URL }}{{ dog.profile_picture }}" alt="Generic placeholder image"
							          width="200" height="200">
          				{% else %}
							<img class="rectangle center-cropped" src="{% static "default_dog.png" %}" alt="Default" width="200" height="200">
						{% endif %}
      
        
        <h3>{{ dog.name }}</h3>
          <a class="btn btn-secondary" href="{% url 'show_dog' dog.slug %}" role="button">View dog &raquo;</a>
        </p>

      </div>
        {% endfor %}
  </div>

</div>
{% endblock %}