{% extends 'pawpals/base.html' %}
{% load staticfiles %}

{% block title_block %}
Edit Your Profile!
{% endblock %}

{% block body_block %}

	<h1 class="featurette-heading" align="center">Edit Your Profile</h1>
	<p class="container">
		<form method="post" novalidate>
			{% csrf_token %}
			{{ user_form.as_ul }}
			{{ user_profile_form.as_ul }}
			{% if user.is_manager %}
			<div class="container"style="padding-top: 35px;">
		<hr class="featurette-divider" >
		</div>

				<h3 class="featurette-heading" align="center" style="padding-top: 15px; padding-bottom:15px;">Shelter Details Section</h3>
				{{ shelter_form.as_ul }}
				<div class="container" style="padding-top: 35px;">
		<hr class="featurette-divider">
		</div>
				<h1 class="featurette-heading" align="center" style="padding-top: 15px; padding-bottom:30px;">Dog Details Section</h1>

				{{ dog_formset.management_form }}

				{% for form in dog_formset %}


			<div style="transform: translateX(-40%);">{{ form.as_p }}</div>

			<div class="container" style="padding-top: 35px;">
		<hr class="featurette-divider" style="padding-top: 35px; width:50%; transform:translateX(50%);">
		</div>

				{% endfor %}

	<h3 class="featurette-heading" align="center" style="padding-bottom:15px; transform: translateY(-20%);">Add A PawPal</h3>

				<div style="transform: translateX(-40%);">{{ empty_dog_form.as_p }}</div>

			{% endif %}

			<button class="btn btn-outline-danger" href="{% url 'deactivate_user' %}" >Delete Account</button>
        	<button class="btn btn-outline-success" type="submit">Submit</button>
		</form>
	</div>
  </form>
</div>

{% endblock %}
