{% extends 'pawpals/base.html' %} 
{% load staticfiles %}

{% block title_block %} 
Edit Your Profile! 
{% endblock %} 

{% block body_block %}
	<h1 id="edit">Edit Your Profile</h1>
	<p class="container">
		<form method="post" novalidate>
			{% csrf_token %} 
			{{ user_form.as_ul }}
			{{ user_profile_form.as_ul }}
	<br/>
			<div class="container">
		<hr class="featurette-divider">
		</div>
			{% if user.is_manager %}
				<h3 style="padding-top: 15px;">Shelter Details Section</h3>

				{{ shelter_form.as_ul }}
				<br/>
				<div class="container">
		<hr class="featurette-divider">
		</div>
				<h3 style="padding-top: 15px;">Dog Details Section</h3>
				<br/>
				{{ dog_formset.management_form }}
				
				{% for form in dog_formset %}


			<div style="transform: translateX(-40%);">{{ form.as_p }}</div>
				<br/>
			<div class="container">
		<hr class="featurette-divider" style="padding-top: 35px;">
		</div>

				{% endfor %}
				

				
			{% endif %}
			<button class="btn btn-outline-danger" type="submit">Delete User</button>
        	<button class="btn btn-outline-success" type="submit">Submit</button>
		</form>
	</div>
  </form>
</div>

{% endblock %}
