{% extends 'pawpals/base.html' %}
{% load staticfiles %} 


{% block title_block %}
Welcome to PawPals!
{% endblock %}
{% block body_block %}

  <div class="container">

    <div class="row">
      <div class="col-md-7">
        <h4 class="featurette-heading">Welcome To PawPals!
        </h4>
        <p class="lead">At PawPals we work to match those who want a dog but don't have the time or money to take care of one.
        We work alongside dog shelters so that dogs who need love and attention can go on walks and spend quality time with amazing people like you!
          So what are you waiting for, find yourself a PawPal and go make some memories! </p>

      </div>
    </div>
<div>

    <hr class="featurette-divider">
<!-- grid 2x3 grid layout that displays dogs that have been walked/reviewed the least by extracting information in the
    view passed by the database -->
<h1 class="featurette-heading">Dogs That Need Some Love!
        </h1>
</div>

    <div class="row">

        {% for dog in dogs %}
      <div class="col-lg-4">
	        {% if dog.profile_picture %}
				<img class="rectangle center-cropped" src="{{ MEDIA_URL }}{{ dog.profile_picture }}" alt="Image of Dog"
                     alt="Generic placeholder image"
				          width="200" height="200">
		     {% else %}
				<img class="rectangle center-cropped" src="{% static "default_dog.png" %}"
          alt="Image of Dog" width="200" height="200">
			{% endif %}
        <h3>{{ dog.name }}</h3>

          <a class="btn btn-outline-dark" href="{% url 'show_dog' dog.slug %}" role="button">View dog &raquo;</a>
        </p>
      </div>
        {% endfor %}
  </div>
  </div>
{% endblock %}