{% extends 'pawpals/base.html' %}
{% load staticfiles %}

{% block javascript_block %}
	<script type="text/javascript" src="{% static 'js/base.js' %}"></script>
{% endblock %}

{% block title_block %}
    Login
{% endblock %}

{% block body_block %}
<div class="container">
<form class="form-signin" role="form" method="post" action="{% url 'login' %}">
    <!-- standard login form that validates a user-->
{% csrf_token %}

<h1 class="featurette-heading" id="login_header">Sign In</h1>

{% if error %}
<p id="login"><strong>{{ error }}</strong></p>
    {% endif %}

    <div class="container">
<label for="inputUsername" class="sr-only">Username</label>
<!-- If Sign In button is pressed without a username entered, a prompt will appear asking the user to enter this
                                                                                                            field -->
<input type="text" name="username" id="user" class="form-control"
placeholder="Username" required autofocus>
<label for="inputPassword" class="sr-only">Password</label>
<input type="password" name="password" id="pass" class="form-control"
placeholder="Password">
        <br/>
<button class="btn btn-lg btn-primary" id="login" type="submit"
value="Submit" />Sign in</button>
    </div>
</form>
</div>
</div>
{% endblock %}
