{% extends 'pawpals/base.html' %}
{% load staticfiles %}


{% block body_block %}

<h1 class="featurette-heading">Please Fill In Your Details to Register a Professional Account</h1>
    <form id="user_form" method="post" action="{% url 'professional' %}"
              enctype="multipart/form-data">
    <div class="row">
    <div class="col-md-7">

            <h4 id="register" class="featurette-heading">Standard User Credentials</h4>
    {% csrf_token %}
    {{ user_form.as_p }}
    {{ profile_form.as_p }}
    <h4 id="register" class="featurette-heading">Shelter Information</h4>
    {{ shelter_form.as_p }}


    </div>
    </div>
    <button type="submit" class="btn btn-outline-success">Submit</button>
    </form>
{% endblock %}