{% extends 'pawpals/base.html' %}
{% load staticfiles %}

{% block stylesheet_block %}
  <link rel="stylesheet" type="text/css" href="{% static "styles/register.css" %}">
{% endblock %}

{% block body_block %}
<div>

    <div class="header_container">

    <h1 class="header" align="center">Please Enter Your Registration Details</h1>
    </div>
    {% if registered %}
        Rango says: <strong>thank you for registering!</strong>
        <a href="{% url 'login' %}">Sign In.</a><br />
    {% else %}
    <p>
    <div class="btn-group" role="group" aria-label="Basic example">
  <button type="button" class="btn btn-secondary">Personal</button>
  <button type="button" class="btn btn-secondary">Professional</button>
</div>
</p>
<form id="user_form" method="post" action="{% url 'register' %}"
              enctype="multipart/form-data">
{% csrf_token %}
    <div>{{ user_form.as_p }}</div>


<button type="submit" class="btn btn-default">Submit</button>
</form>
    {% endif %}
</div>
<div class="fluid-container">
    <br/>
    <br/>
</div>
{% endblock %}