{% extends 'pawpals/base.html' %}
{% load staticfiles %}



{% block body_block %}
    <div class="header_container">

    <h1 class="header" align="center">Please Choose Your Account Type & Enter Your Registration Details</h1>
    </div>
    {% if registered %}
        <strong>thank you for registering!</strong>
        <a href="{% url 'login' %}">Sign In.</a><br />
    {% else %}

  <button id="Pers" class="btn btn-light" data-toggle="collapse" data-target="#Personal">Personal</button>
  <div id="Personal" class="collapse" value="pers">
    <div class="row">
    <div class="col-md-7">

<form id="user_form" method="post" action="{% url 'register' %}"
              enctype="multipart/form-data">
{% csrf_token %}
    {{ user_form.as_p }}
</form>
    </div>
    </div>
</div>
  <button id="Prof" class="btn btn-dark" data-toggle="collapse" data-target="#Professional">Professional</button>
  <div id="Professional" class="collapse" value="prof" disabled="disabled">
      <div class="row">
    <div class="col-md-7">
<form id="user_form" method="post" action="{% url 'register' %}"
              enctype="multipart/form-data">
{% csrf_token %}

    {{ shelter_form.as_p }}
    </form>
    </div>
</div>
  </div>

<br/>
<button type="submit" class="btn btn-outline-success">Submit</button>
    {% endif %}

    <br/>
    <br/>

{% endblock %}