{% extends 'pawpals/base.html' %}
{% load staticfiles %} 


{% block title_block %}
    Manage your requests
{% endblock %}

{% block body_block %}

	<br/>
<h1>Requests Page</h1>
<br/>
	<table style = "width:100%">
	
		<tr>
			<th id="header">Requested Dog</th>
			<th id="header">Message</th>
			<th id="header">Date</th>
			<th id="header">Status</th>
			{% if user.is_standard %}
				<th>Review</th>
			{% endif %}
			
			{% if user.is_manager %}
				<th>Change status</th>
			{% endif %}
			
		</tr>	
			
		{% for request in requests %}
		
			<div class = "request">
				<tr>
					<td>
						<a href="{% url 'show_dog' request.requested_dog.slug %}">
							{{ request.requested_dog }}
						</a>
					</td>
					<td>{{ request.message }}</td>
					<td>{{ request.date }}</td>
					<td>{{ request.get_status_display }}</td>
					
					{% if user.is_standard %}
					
						{% if request.status == "C" %}						
							<td>
								<a class="btn btn-secondary" role="button">Review walk</a>
							</td>
						{% elif request.status == "R" %}
							<td>
								<a class="btn btn-secondary" role="button">Update review</a>
							</td>
						{% else %}
							<td>
								<a class="btn btn-secondary" role="button">Grey this one out</a>
							</td>
							
						{% endif %}
					{% endif %}
					
						{% if user.is_manager %}
							
							<form id="status_update" method="post" action="">
								{% csrf_token %}
				        		<td>{{ form.as_ul }}</td>
				        		<input type='hidden' value='{{ request.pk }}' name='request_object'>
				        		<td><button class="btn btn-primary" type="submit" name="submit">Change</button></td>
				        	</form>
			        	
						{% endif %}
						
				</tr>
			</div>
			
		{% endfor %}
	</table>

{% endblock %}