{% extends 'pawpals/base.html' %}
{% load staticfiles %} 

{% block javascript_block %}
	<script type="text/javascript" src="{% static 'js/info_functionality.js' %}"></script>
{% endblock %}

{% block title_block %}
    Manage your requests
{% endblock %}

{% block body_block %}

<h1 class="featurette-heading">Requests Page</h1>
<!-- A table is used to display the requests in a neat and orderly way -->
	<table id="table">
	
		<tr>
			<!-- table headings -->
			<th>Requested Dog</th>
			<th>Message</th>
			<th>Date</th>
			<th>Status</th>
			{% if user.is_standard %}
				<th>Review</th>
			{% endif %}
			
			{% if user.is_manager %}
				<th>Change status</th>
			{% endif %}
			
		</tr>	
			
		{% for request, shelter in requests %}
		<!-- data entries in the table -->
			<div class = "request">
				<tr>
					<td>
						<a href="{% url 'show_dog' request.requested_dog.slug %}">
							{{ request.requested_dog }}
						</a>
					</td>
					<td><a href="{% url 'show_shelter' shelter.slug %}">
						{{ shelter.name }}</a></td>
						<td>{{ request.message }}</td>
						<td>{{ request.date }}</td>
						<td>{{ request.get_status_display }}</td>
					<!-- if the user is logged in and is a standard user... -->
					{% if user.is_standard %}
					<!-- Check what status this request is at, and depending on the status of the request, either write
					a review update your review or if the status isn't at a point which allows you to do either of
					those things, disable the review button -->
						{% if request.status == "C" %}						

							<td>

								<a class="btn btn-success" href="{% url 'add_review' request.pk %}" role="button">Review walk</a>
							</td>
						{% elif request.status == "R" %}
							<td>
								<a class="btn btn-info" href="{% url 'edit_review' request.pk %}" role="button">Update review</a>

							</td>
						{% else %}
							<td>
								<a class="btn btn-secondary disabled" href="{% url 'edit_review' request.pk %}" role="button" aria-disabled="true">Write Review</a>
							</td>
							
						{% endif %}
					{% endif %}
					<!-- if the logged in user is a manager then allow them to change the status of a request -->
						{% if user.is_manager %}

							<form id="status_update" method="post" action="">
								{% csrf_token %}
				        		<td>{{ form.as_ul }}</td>
				        		<input type='hidden' value='{{ request.pk }}' name='request_object'>
								<td><button class="btn btn-outline-primary" type="submit" name="submit">Change</button></td>
				        	</form>
			        	
						{% endif %}

						
				</tr>
			</div>
			
		{% endfor %}
	</table>

{% endblock %}