{% extends 'pawpals/base.html' %} 
{% load staticfiles %} 

{% block title_block %} 
Request a Walk! 
{% endblock %} 

{% block body_block %}

<h1 class="featurette-heading" align="center">Request a Walk</h1>

    	{% if dog.profile_picture %}
			<img class="rectangle center-cropped" src="{{ MEDIA_URL }}{{ dog.profile_picture }}"
			          width="200" height="200">
      	{% else %}
			<img class="rectangle center-cropped" src="{% static "default_dog.png" %}" width="200" height="200">
		{% endif %}
<h3> {{dog.name}}</h3>

<form class="request" role="form" method="post"
			action="{% url 'request' dog.slug %}">
			{% csrf_token %}

			<input type="text" name="message" id="message"
				class="form-control" placeholder="Type Your Message Here..."
				required autofocus style="width: 50%;
    padding: 15px 20px;
    margin: 10px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;"><br />
			<button class="btn btn-lg btn-success" type="submit" value="Submit" />
			Send Request
			</button>
				</div>
		</form>
	</div>
</div>
{% endblock %}
