{% extends 'pawpals/base.html' %}

{% block title_block %}
Request a Walk!
{% endblock %}

{% block body_block %}
<h1>Request a Walk for {{dog.name}}</h1>
<div class="row">

      <div class="col-lg-4">
        {% if dog.profile_picture %}
        <img class="rectangle" src="{{ MEDIA_URL }}{{ dog.profile_picture }}" width="400" height="400">
          			{% else %}
          <img class="rectangle center-cropped" src="{% static "default_dog.png" %}" width="400" height="400">
			{% endif %}
        <h3>{{ dog.name }}</h3>
      </div>
    <div class="col-lg-8">
        <form class="request" role="form" method="post" action="{% url 'request' dog.slug %}">
        <input type="text" name="Request Message" id="message" class="form-control"
placeholder="Type Your Message Here..." required autofocus>
        <br/>
<button class="btn btn-lg btn-primary" type="submit"
value="Submit" />Send Request</button>

                    </form>
    </div>
</div>
{% endblock %}
