{% extends 'pawpals/base.html' %}
{% load staticfiles %} 

{% block title_block %}
    Write a Review
{% endblock %}

{% block body_block %}
{% if review %}
	<h1 class="featurette-heading">Edit Review</h1>
{% else %}
	<h1 class="featurette-heading">Write Review</h1>
{% endif %}
<div>
	  <!-- displays the profile picture in the database for the dog, if there isn't one, provides a default image -->
    	{% if dog.profile_picture %}
			<img class="rectangle center-cropped" src="{{ MEDIA_URL }}{{ dog.profile_picture }}" alt="Image of Dog"
			          width="200" height="200">
      	{% else %}
			<img class="rectangle center-cropped" src="{% static "default_dog.png" %}" alt="Image of Dog" width="200" height="200">
		{% endif %}
</div>
		{{ dog.name }}
	<!-- if a user is editting a review, display this form -->
{% if review %}
        <form action="" method="post" enctype="multipart/form-data" id="form">
        {% csrf_token %}


			<div>{{ form.as_ul }}</div>
        
        {% else %}
			<!-- else if user is writing a review for the first time on this dog display this form -->
        <form action="" method="post" enctype="multipart/form-data" id="form">
        {% csrf_token %}

        	<input type="hidden" name="request">

			<div>{{ form.as_ul }}</div>
     
	    
		{% endif %}

      <button type="submit" class="btn btn-success">Submit</button>
      
</form>
		</form>
{% endblock %}