{% extends 'pawpals/base.html' %}
{% load staticfiles %} 

{% block title_block %}
    Write a Review
{% endblock %}

{% block body_block %}
{% if review %}
	<h1 class="featurette-heading" align="center">Edit review</h1>
<div>
    	{% if dog.profile_picture %}
			<img class="rectangle center-cropped" src="{{ MEDIA_URL }}{{ dog.profile_picture }}"
			          width="200" height="200">
      	{% else %}
			<img class="rectangle center-cropped" src="{% static "default_dog.png" %}" width="200" height="200">
		{% endif %}
</div>
		{{ dog.name }}

        <form action="" method="post" enctype="multipart/form-data" style="padding-top:20px;">
        {% csrf_token %}


			<div style="transform: translateX(-40%)">{{ form.as_p }}</div>
        
        {% else %}
			<h1>Add review</h1>
			<div>
{% if dog.profile_picture %}
			<img class="rectangle center-cropped" src="{{ MEDIA_URL }}{{ dog.profile_picture }}"
			          width="200" height="200">
      	{% else %}
			<img class="rectangle center-cropped" src="{% static "default_dog.png" %}" width="200" height="200">
		{% endif %}
			</div>
		{{ dog.name }}

        <form action="" method="post" enctype="multipart/form-data" style="padding-top:20px;">
        {% csrf_token %}


        	
        	<input type="hidden" name="request">

			<div style="transform: translateX(-40%);">{{ form.as_p }}</div>
     
	    
		{% endif %}

      <button type="submit" class="btn btn-default">Submit</button>
      
</form>
		</form>
{% endblock %}