{% extends 'pawpals/base.html' %}
{% load staticfiles %}
{% block stylesheet_block %}
	<link rel="stylesheet" type="text/css" href="{% static "styles/dog.css" %}">
{% endblock %}
{% block title_block %}
    {{ shelter.name }}
{% endblock %}
{% block body_block %}

	<h1>{{shelter.name}}</h1>
<p>
<strong>Webpage:</strong> <a href="{{ shelter.webpage }}">{{ shelter.name }}</a>
    <br/>
        {{ shelter.location }}
     <br/>
        {{ shelter.phone_contact }}
    <br/>
    <br/>
    </p>

	<div class="row">
		<div class="col-lg-4">
			{% if shelter.profile_picture %}
				<img class="rectangle center-cropped"
				src="{{ MEDIA_URL }}{{ shelter.profile_picture }}"
				alt="Generic placeholder image" width="400" height="400">
			{% else %}
				<img class="rectangle center-cropped" src="{% static "default_shelter.png" %}" alt="Default" width="400" height="400">
			{% endif %}
            <div>
                <br/>
             <button id="paws" class="btn btn-info" data-toggle="collapse" data-target="#search">PawPals</button>
            </div>
        </div>
        <div class="row">
        <div class="col-sm-4">
            <h4>Bio</h4>
           <article>{{ shelter.bio }}</article>
    </div>
            <div class="col-sm-4">

        <h4>Availability</h4>
		<p>{{ shelter.availability_info }}</p>

      </div>
            <div class="col-sm-4">

        <h4>Average Difficulty Rating of PawPals</h4>
		<p>{{ shelter.avg_difficulty_rating }}</p>

      </div>

        </div>
</div>

    <div id="search" class="collapse">
		    <div class="row">

        {% for dogs in dog %}
      <div class="col-lg-2">
	        {% if dogs.profile_picture %}
				<img class="rectangle center-cropped" src="{{ MEDIA_URL }}{{ dogs.profile_picture }}"
				          width="200" height="200">
		     {% else %}
				<img class="rectangle center-cropped" src="{% static "default_dog.png" %}" width="200" height="200">
			{% endif %}
        <h3>{{ dogs.name }}</h3>
          <p>
          <a id="paw" class="btn btn-secondary" href="{% url 'show_dog' dogs.slug %}" role="button">View dog &raquo;</a>
        </p>
      </div>
        {% endfor %}
	</div>
</div>

{% endblock %}
