{% extends 'pawpals/base.html' %}
{% load staticfiles %}

{% block stylesheet_block %}
	<link rel="stylesheet" type="text/css" href="{% static "styles/dog.css" %}">
{% endblock %}

{% block javascript_block %}
	<script type="text/javascript" src="{% static 'js/pawpals-ajax.js' %}"></script>
{% endblock %}


{% block title_block %}
    {{ shelter.name }}
{% endblock %}
{% block body_block %}

<h1 id="shelter">{{shelter.name}}</h1>
<p>
<strong>Webpage:</strong> <a href="{{ shelter.webpage }}">{{ shelter.name }}</a>
    <br/>
        {{ shelter.location }}
     <br/>
        {{ shelter.phone_contact }}
    <br/>
    </p>

			{% if shelter.profile_picture %}
				<img class="rectangle center-cropped"
				src="{{ MEDIA_URL }}{{ shelter.profile_picture }}" alt="Image of Shelter" width="400" height="400">
			{% else %}
				<img class="rectangle center-cropped" src="{% static "default_shelter.png" %}" alt="Image of Shelter" width="400" height="400">
			{% endif %}

        <div class="row" id="shelter_row">
        <div class="col-sm-3">
            <h4>Bio</h4>
           <article>{{ shelter.bio }}</article>
    </div>
            <div class="col-sm-3">

        <h4>Availability</h4>
		<p>{{ shelter.availability_info }}</p>

      </div>
            <div class="col-sm-3">

        <h4>Average Difficulty Rating of PawPals</h4>
		<p>{{ shelter.avg_difficulty_rating }}/5</p>

      </div>
        </div>
<div id="paws">

             <button class="btn btn-info" id="pawpalsButton" onclick="get_dogs('{{ shelter.pk }}', '{% url 'get_dogs' %}',
              '{% static 'default_dog.png' %}', '{% url 'dogs' %}')" data-toggle="collapse" data-target="#search">
                 Show PawPals</button>
            </div>


    <div id="search" class="collapse">

	<div id="dogs_block"></div>
            </div>

{% endblock %}
