/* Global Styles */

/*  * General Spacing Formatting *  */

/* Ensures tables fit the size of the window and don't overlap at all */
td {
  width: 200px;
  text-align: center;
}
/* Gives rows some extra padding to make things look neat and not cramped */
.row {
    padding-top: 2rem;
    }
/* Keeps the main Title on home.html centred */
h4{
    position: relative;
    left: 40%;
transform: translateY(15%);
}
/* Keeps the footer fixed to the bottom of the page when the page elements don't take up the full window height by
    adjusting body block height and footer positioning*/
body {
padding-top: 100px;
  padding-bottom: 2rem;
  height: 100%;
  min-height: 100vh;
  position: relative;
  margin: 0;
  text-align: center;
}
body::after {
  content: '';
  display: block;
  height: 50px;
  }

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
}
/* Keeps the p tag elements centred */
p {
    display: block;
    text-align: center;
    position: relative;
    left: 40%;
}
#login_error {
    left:0%;
}
/* making the delete button same size as submit for editting account info */
#delete {
    width:30%;}
/* Making the requests page submit button a reasonable size */
#requests_submit {
    width:45%;}
/* Centre align the input elements and the button on the page */
div {
    text-align: center;
    }
/* Resizing and padding on the message input so it looks neat and fits with the style of other inputs */
#message {
    width: 50%;
    padding: 15px 20px;
    margin: 10px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;}
/* Makes login inputs not long and scrawny, bulks them out and makes the page look tidy and simple */
#user,#pass {

    width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
/* Giving every header class padding below to neaten things up with spacing */
.header {
padding-bottom:20px;
}
/* Mostly just for login page, spaces out the button and resizes to match that of the input element sizes */
button {
    padding: 14px 20px;
    margin: 8px 0;
    width: 30%;
}
/* Making the table stretch across the width of the window */
#table {width:100%;}

/* Centering the elements on the register template by only adjusting the header */
#register_header {
    padding-top: 200px;
}
/* Centering the elements on the login template by only adjusting the header */
#login_header {
    padding-top: 150px;
}
/* Providing spacing so button isn't overalpped */
#form {
padding-top:20px;
}

/*  * Featurette Classes *  */

/* Space out the divider more */
.featurette-divider {
  margin: 1rem 0;
}

/* Thin out the main headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -0.05rem;
  padding-bottom: 2rem;
}

/* Responsive CSS */

@media (min-width: 40em) {

  .featurette-heading {
    font-size: 50px;
  }
}
  #register {
  font-size: 40px;
  }

@media (min-width: 62em) {
  .featurette-heading {

  }
}