/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */
td {
  width: 200px;
  text-align: center;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 30%;
}

.form-signin-heading {
    padding-bottom: 5px;
    }

body {
  padding-top: 2rem;
  padding-bottom: 2rem;
  height: 100%;
  position: relative;
}
body::after {
  content: '';
  display: block;
  height: 50px;
  }
.profile {
    padding-top: 75px;
    }
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
}
h1{
    text-align: center;
    margin:0px;
    padding-top: 50px;
}
h2{
    text-align: center;
    margin:0px;
    padding-top: 15rem;
}

h4{
    position: relative;
    left: 40%;
transform: translateY(15%);
}
.standard_shelter {
    padding-top: 25px;
    }
.shelters_title {
    margin: 50px;
    padding-top: 50px;
    }
.row featurette {
    width: 300px;
    height: 200px;

    padding: 30px;
    display: table;
}
.col-md-7 {
    display: table-cell;
    vertical-align: middle;
}
h4{text-align: center;}
p {
    display: block;
    text-align: center;
    position: relative;
    left: 40%;
}

body {
  min-height: 100vh;
  position: relative;
  margin: 0;
  text-align: center;
}
.title {
    margin-top: 2rem;
    margin-bottom: 2rem;}

footer {
  position: absolute;
  bottom: 0;
}
.footer {
    text-align: center;
    }
.center-cropped {
 /* Do not scale the image */
  object-position: center; /* Center the image within the element */
  height: 200px;
  width: 200px;
}
.float-center {display: table-cell;
    vertical-align: middle;
}
.register {
    text-align: center;
}
h1{padding-bottom: 2rem;
    text-align: center;
}
form-group col-lg-12{text-align: center;
}

.row {
    padding-top: 2rem;
    }
    
.search_button {
	margin-top: 2rem;
	margin-bottom: 2rem;
	
	height: 40px;
 	width: 300px;
	
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: 400;
}
.marketing .col-lg-4 p {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
}

/* Featurettes
------------------------- */

.featurette-divider {
  margin: 1rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -0.05rem;
  padding-bottom: 2rem;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 5rem;
  }
}