/* Grid formatting  to create the '<X>' pattern the information takes*/
.col-sm-2 {
    transform:translateX(200%);
     display: table-cell;
    vertical-align: middle;
     }
.col-sm-3 {
    transform:translateX(50%);
     display: table-cell;
    vertical-align: middle;
     }
#shelter_row {
    padding-top:15px;
/* Text and header formatting to adjust spacing */
h1 {
    padding-bottom: 25px;
     }

h3 {
    padding-bottom: 15px;
    }
/* Creating some padding for the reviews and reviews button to look neat */
}
#review_block{
    padding-top: 25px;}
/* Shelter header is taken from information passed from model so need to manually apply CSS to this id */
#shelter {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -0.05rem;
  padding-bottom: 2rem;
font-size: 50px;
}
#paws {
    padding-bottom: 15px;}
/* Base formatting for the structure and layout of the entire page, keeps footer fixed regardless of window size
    and adjust elements in the body to position properly and not overlap */

body {
padding-top: 100px;
padding-bottom: 100px;
  min-height: 100vh;
  padding-bottom:50px;
  position: relative;
  margin: 0;
  text-align: center;
}
#navbar1 {

  bottom: 0;
  left:0;
  right:0;
  width: 100%;
  height: 40px;

}