h1 {
    text-align: center;
    padding-top: 75px;
    padding-bottom: 25px;
     }
div {
    right: 10px;

    }
.dogs {
border: 2px solid black;}

p {
    display: block;
    text-align: center;
    position: relative;
    left: 40%;
}
h4 {
    text-align: center;}