body {
  padding-top: 2rem;
  padding-bottom: 2rem;
  height: 100%;
  position: relative;
}
p {
    text-align: center;
    transform: translateX: (-10%);
    }
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
}
body {
  min-height: 100vh;
  position: relative;
  margin: 0;
  text-align: center;
}
div {
    text-align: center;
    }
h1 {
    text-align: center;
    padding-top: 150px;

    padding-bottom: 50px;
    }
